<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sunday.android.yun.yunweather">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".BaseApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_app_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_app_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".model.SettingActivity" />
        <activity android:name=".model.CityManageActivity" />
        <activity android:name=".model.SelectCityActivity" />
        <activity android:name=".dagger_test.TestActivity" />
        <activity android:name=".dagger_test.type_inject_test.Test1Activity"></activity>
        <activity
            android:name=".customview_test.CustomViewTestActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".customview_test.ScrollingActivity"
            android:label="@string/title_activity_scrolling"
            android:theme="@style/ScrollingActivityTheme"></activity>
        <activity
            android:name=".customview_test.CoordinatorLayoutActivity"
            android:theme="@style/ScrollingActivityTheme">

        </activity>
        <activity android:name=".dagger_test.http_test.HttpTest1Activity">

        </activity>
        <activity android:name=".dagger_test.leak_test.LeakMainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".dagger_test.leak_test.LeakTest1Activity">

        </activity>
    </application>

</manifest>